.sidebar {
    li.woocommerce-mini-cart-item.mini_cart_item {
        border-bottom: 1px solid #dedede;
        padding-bottom: 10px;
        margin-bottom: 10px;
        a:not(.remove_from_cart_button) {
            color: #333;
            font-size: 14px;
            display: inline-block;
            width: calc(100% - 40px);
        }
        a { 
            display: inline-block;
        }
    } 
    .woocommerce-mini-cart__buttons.buttons {
        a:first-child {
            margin-right: 5px;
        }
    }
} 